/* reset */
/* colors */
/* font size */
/* percents */
/* margins */
/* paddings */
/* head img */
/* table bar */
.no-user-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.row {
  clear: both;
  position: relative;
}
.row:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.row.margin {
  margin-bottom: 10px;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33.33333333%;
}
.col-50 {
  width: 50%;
}
.col-66 {
  width: 66.66666667%;
}
.col-75 {
  width: 75%;
}
.col-20,
.col-25,
.col-33,
.col-50,
.col-66,
.col-75 {
  float: left;
  min-height: 1px;
}
.col-offset-25 {
  margin-left: 25%;
}
.col-offset-33 {
  margin-left: 33.33333333%;
}
.col-offset-50 {
  margin-left: 50%;
}
.col-offset-66 {
  margin-left: 66.66666667%;
}
.col-offset-75 {
  margin-left: 75%;
}
.pull-down-text,
.pull-up-text {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding-bottom: 15px;
}
.pull-down,
.pull-up {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
}
.pull-down > div,
.pull-up > div {
  background-color: #fff;
  height: 100%;
  width: 3px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.pull-down .rect2,
.pull-up .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.pull-down .rect3,
.pull-up .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.pull-down .rect4,
.pull-up .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.pull-down .rect5,
.pull-up .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.2 arial, helvetica, sans-serif;
  color: #333;
  outline: 0;
}
a,
a:hover {
  color: #333;
}
.view {
  padding: 10px 15px;
}
.list {
  clear: both;
  position: relative;
}
.list:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.list.margin {
  margin-bottom: 10px;
}
.list > .item {
  background: #ffffff;
  display: block;
  padding: 10px 15px;
  clear: both;
}
.list > .item:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.list > .item:last-child {
  margin-bottom: 5px;
}
.list > .item > .label {
  width: 25%;
  float: left;
  min-height: 1px;
}
.list > .item > .ui {
  width: 75%;
  float: left;
  min-height: 1px;
}
.list > .item.divider-bottom {
  border-bottom: 1px solid #f1f1f1;
}
.scroller {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0050a3), to(#e4007e));
  background: -webkit-linear-gradient(top, #0050a3 60%, #e4007e);
}
.scroller > .container {
  background: 0;
}
.scroller > .container.withTableBar {
  padding-bottom: 60px;
}
.container {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0050a3), to(#e4007e));
  background: -webkit-linear-gradient(top, #0050a3 60%, #e4007e);
}
.cloud {
  background: url('../images/cloud3.png') no-repeat center center;
  background-size: auto 36px;
  width: 100%;
  height: 36px;
}
select {
  background: #ffffff;
  border: 0;
  -webkit-appearance: none;
  text-align: right;
  width: 100%;
  direction: rtl;
  padding-right: 20px;
}
input,
textarea {
  background: #ffffff;
  border: 0;
}
textarea {
  width: 100%;
  resize: none;
}
.input-block {
  width: 100%;
}
.btn {
  padding: 10px 30px;
  font-size: 16px;
  color: #ffffff;
  background: #e4007e;
  border: 0;
  border-radius: 5px;
  line-height: 20px;
  height: 20px;
  text-align: center;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}
body {
  background-color: #0050a3;
}
.container {
  padding-bottom: 114px;
}
.head-view {
  clear: both;
  padding: 10px 15px;
  height: 42px;
}
.head-view:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.head-view > .head-img {
  float: left;
  height: 42px;
  padding: 0 10px;
}
.head-view > .head-img > img {
  width: 42px;
  height: 42px;
  border-radius: 21px;
}
.head-view > .info-view {
  margin-left: 62px;
  height: 42px;
}
.head-view > .info-view > .line {
  height: 20px;
}
.head-view > .info-view > .line:first-child {
  margin-bottom: 2px;
}
.head-view > .info-view > .line > .nickname {
  float: left;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
}
.head-view > .info-view > .line > .time {
  float: left;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}
.head-view > .info-view > .line > .state,
.head-view > .info-view > .line .itemType {
  float: right;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 10px;
  border-radius: 10px;
  color: #fff;
}
.head-view > .info-view > .line > .state {
  background: #e456a4;
}
.head-view > .info-view > .line > .itemType {
  background: #5ea4ec;
}
.content-view {
  margin: 10px 15px;
  padding: 20px 15px;
  background: #fff;
  border-radius: 10px;
}
.content-view > .itemName {
  font-size: 16px;
  margin-bottom: 20px;
}
.content-view > .itemDescription {
  font-size: 15px;
  margin-bottom: 10px;
}
.content-view > .itemImg > img {
  width: 100%;
}
.content-view > .itemImg:last-child {
  margin-bottom: 20px;
}
.content-view > .wish {
  margin: 10px -15px;
  padding: 10px 15px;
  background: #f1f1f1;
  clear: both;
}
.content-view > .wish:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.content-view > .wish > .icon {
  float: left;
  width: 30px;
  height: 30px;
  background: #f00;
}
.content-view > .wish > .text {
  height: 30px;
  margin-left: 30px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 15px;
}
.content-view > .like-view {
  clear: both;
  margin: 0 auto;
  height: 20px;
  padding: 5px 15px;
  border-radius: 15px;
  background: #5ea4ec;
  width: 70px;
}
.content-view > .like-view:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.content-view > .like-view > .icon {
  float: left;
  width: 20px;
  height: 20px;
  background: #f00;
}
.content-view > .like-view > .text {
  float: left;
  text-align: center;
  width: 50px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}
.comment-view {
  background: #fff;
  border-radius: 10px;
  margin: 10px 15px;
  padding: 10px 0;
}
.comment-view > .header {
  clear: both;
  height: 20px;
  padding: 0 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}
.comment-view > .header:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.comment-view > .header > .count {
  float: right;
}
.comment-view > .header > .count > .icon {
  width: 20px;
  height: 20px;
  float: left;
  background: #f00;
}
.comment-view > .header > .count > .text {
  float: left;
  padding: 0 5px;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
}
.comment-view > .comments > .comment {
  clear: both;
  padding-top: 10px;
}
.comment-view > .comments > .comment:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.comment-view > .comments > .comment > .head-img {
  float: left;
  padding: 0 15px;
  width: 30px;
  height: 30px;
}
.comment-view > .comments > .comment > .head-img > img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.comment-view > .comments > .comment > .info {
  margin-left: 60px;
}
.comment-view > .comments > .comment > .info > .line {
  line-height: 30px;
  color: #000;
}
.comment-view > .comments > .comment > .info > .content {
  padding: 15px 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 15px;
}
.comment-view > .loading {
  font-size: 15px;
  color: #000;
  text-align: center;
  line-height: 30px;
}
.foot-bar {
  clear: both;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 999;
  height: 104px;
  background: rgba(0, 0, 0, 0.3);
}
.foot-bar:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.foot-bar .btns {
  clear: both;
}
.foot-bar .btns:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.foot-bar .submitBtnView {
  margin: 10px 15px;
  background: #fff;
  border-radius: 8px;
}
.foot-bar .submitBtnView > .btn {
  background: 0;
  width: 100%;
  color: #5ea4ec;
  height: auto;
  line-height: 35px;
  padding: 10px 0;
}
.foot-bar > .ps-text {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.comment-post-view {
  display: none;
  padding-top: 10px;
}
.comment-post-view > .comment-input {
  margin: 10px 15px;
  margin-top: 0;
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.comment-post-view > .comment-input > #itemComment {
  background: 0;
  font-size: 15px;
  color: #fff;
}
.comment-post-view > .comment-input > #itemComment::-webkit-input-placeholder {
  color: #fff !important;
}
.comment-post-view > .post-btn {
  margin: 10px 15px;
  padding: 20px 15px;
  background: #fff;
  border-radius: 10px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
