/* reset */
/* colors */
/* font size */
/* percents */
/* margins */
/* paddings */
/* head img */
/* table bar */
.no-user-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.row {
  clear: both;
  position: relative;
}
.row:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.row.margin {
  margin-bottom: 10px;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33.33333333%;
}
.col-50 {
  width: 50%;
}
.col-66 {
  width: 66.66666667%;
}
.col-75 {
  width: 75%;
}
.col-20,
.col-25,
.col-33,
.col-50,
.col-66,
.col-75 {
  float: left;
  min-height: 1px;
}
.col-offset-25 {
  margin-left: 25%;
}
.col-offset-33 {
  margin-left: 33.33333333%;
}
.col-offset-50 {
  margin-left: 50%;
}
.col-offset-66 {
  margin-left: 66.66666667%;
}
.col-offset-75 {
  margin-left: 75%;
}
.pull-down-text,
.pull-up-text {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding-bottom: 15px;
}
.pull-down,
.pull-up {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
}
.pull-down > div,
.pull-up > div {
  background-color: #fff;
  height: 100%;
  width: 3px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.pull-down .rect2,
.pull-up .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.pull-down .rect3,
.pull-up .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.pull-down .rect4,
.pull-up .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.pull-down .rect5,
.pull-up .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.2 arial, helvetica, sans-serif;
  color: #333;
  outline: 0;
}
a,
a:hover {
  color: #333;
}
.view {
  padding: 10px 15px;
}
.list {
  clear: both;
  position: relative;
}
.list:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.list.margin {
  margin-bottom: 10px;
}
.list > .item {
  background: #ffffff;
  display: block;
  padding: 10px 15px;
  clear: both;
}
.list > .item:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.list > .item:last-child {
  margin-bottom: 5px;
}
.list > .item > .label {
  width: 25%;
  float: left;
  min-height: 1px;
}
.list > .item > .ui {
  width: 75%;
  float: left;
  min-height: 1px;
}
.list > .item.divider-bottom {
  border-bottom: 1px solid #f1f1f1;
}
.scroller {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0050a3), to(#e4007e));
  background: -webkit-linear-gradient(top, #0050a3 60%, #e4007e);
}
.scroller > .container {
  background: 0;
}
.scroller > .container.withTableBar {
  padding-bottom: 60px;
}
.container {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0050a3), to(#e4007e));
  background: -webkit-linear-gradient(top, #0050a3 60%, #e4007e);
}
.cloud {
  background: url('../images/cloud3.png') no-repeat center center;
  background-size: auto 36px;
  width: 100%;
  height: 36px;
}
select {
  background: #ffffff;
  border: 0;
  -webkit-appearance: none;
  text-align: right;
  width: 100%;
  direction: rtl;
  padding-right: 20px;
}
input,
textarea {
  background: #ffffff;
  border: 0;
}
textarea {
  width: 100%;
  resize: none;
}
.input-block {
  width: 100%;
}
.btn {
  padding: 10px 30px;
  font-size: 16px;
  color: #ffffff;
  background: #e4007e;
  border: 0;
  border-radius: 5px;
  line-height: 20px;
  height: 20px;
  text-align: center;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}
.table_bar {
  clear: both;
  border-top: 1px solid #0050a3;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #ffffff;
  height: 60px;
}
.table_bar:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.table_bar > .nav-view {
  width: 25%;
  float: left;
  min-height: 1px;
  text-align: center;
}
.table_bar_btn {
  height: 60px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table_bar_btn > .label {
  font-size: 12px;
  line-height: 26px;
  color: #e4007e;
  text-align: center;
}
.table_bar_btn > .logo-home,
.table_bar_btn .logo-market,
.table_bar_btn .logo-active,
.table_bar_btn .logo-me {
  width: 40px;
  height: 36px;
  margin: 0 auto;
  background: url('../images/bar_bt3.png');
  background-size: 160px auto;
  background-repeat: no-repeat;
}
.table_bar_btn > .logo-home {
  background-position: 0 0;
}
.table_bar_btn > .logo-market {
  background-position: -40px 0;
}
.table_bar_btn > .logo-active {
  background-position: -80px 0;
}
.table_bar_btn > .logo-me {
  background-position: -120px 0;
}
.table_bar_btn.active .label {
  color: #0050a3;
}
.table_bar_btn.active .logo-home {
  background-position: 0 -36px;
}
.table_bar_btn.active .logo-market {
  background-position: -40px -36px;
}
.table_bar_btn.active .logo-active {
  background-position: -80px -36px;
}
.table_bar_btn.active .logo-me {
  background-position: -120px -36px;
}
.fab {
  z-index: 100;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  background: #0050a3;
  -webkit-box-shadow: 0 2px 4px 0 #494949;
  box-shadow: 0 2px 4px 0 #494949;
}
.fab.withTableBar {
  bottom: 90px;
}
.me-view {
  padding: 20px 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.me-head {
  padding: 20px 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.me-head > .head-img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 32px;
}
.me-head > .head-img > img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.me-head > .nickname {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  padding: 3px 0;
}
.me-head > .sex1,
.me-head .sex2 {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}
.me-head > .sex1 {
  background-color: #f00;
}
.me-head > .sex2 {
  background-color: #f00;
}
.me-head > .info-view {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 30px;
  margin: 0 auto;
  margin-top: 10px;
  clear: both;
  width: 200px;
}
.me-head > .info-view:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.me-head > .info-view > .integral-icon,
.me-head > .info-view .like-icon,
.me-head > .info-view .v-icon {
  width: 20px;
  height: 20px;
  background: #ff0;
  float: left;
}
.me-head > .info-view > .integral,
.me-head > .info-view .like,
.me-head > .info-view .v {
  font-size: 12px;
  color: #000000;
  float: left;
  width: 35px;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
}
.me-head > .info-view > .line {
  width: 9px;
  height: 20px;
  border-left: 1px solid #f1f1f1;
  float: left;
}
.list-view {
  padding: 20px 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  clear: both;
}
.list-view:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.list-view > .label {
  font-size: 16px;
  line-height: 25px;
  float: left;
  color: #ffffff;
}
.list-view > .text {
  float: right;
  color: #FF8C31;
  font-size: 16px;
  line-height: 25px;
}
.add-item {
  padding: 20px 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}
