html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  color: #333333;
  outline: 0;
  font: 12px/1.2 arial, helvetica, sans-serif;
}
body {
  background: #ffffff;
}
textarea {
  width: 100%;
}
a,
a:hover {
  color: #333333;
}
.no-user-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-center {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.row {
  clear: both;
}
.row:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.row.margin {
  margin-bottom: 10px;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33.33333333%;
}
.col-50 {
  width: 50%;
}
.col-66 {
  width: 66.66666667%;
}
.col-75 {
  width: 75%;
}
.col-20,
.col-25,
.col-33,
.col-50,
.col-66,
.col-75 {
  float: left;
  min-height: 1px;
}
.col-offset-25 {
  margin-left: 25%;
}
.col-offset-33 {
  margin-left: 33.33333333%;
}
.col-offset-50 {
  margin-left: 50%;
}
.col-offset-66 {
  margin-left: 66.66666667%;
}
.col-offset-75 {
  margin-left: 75%;
}
.img {
  width: 100%;
}
.table_bar {
  border-top: 1px solid #b9b9b9;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #ffffff;
}
.table_bar_btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table_bar_btn .logo {
  padding: 3px 0;
}
.table_bar_btn .label {
  padding-bottom: 5px;
  color: #dddddd;
}
.table_bar_btn.active * {
  color: #ff0000;
}
.divider-top {
  border-top: 4px solid #b9b9b9;
}
.divider-bottom {
  border-bottom: 4px solid #b9b9b9;
}
.container {
  clear: both;
}
.container:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.btn {
  border: 0;
  padding: 15px 30px;
  color: #333333;
  background-color: #b9b9b9;
  border-radius: 6px;
  font-size: 18px;
  line-height: 20px;
}
.btn-block {
  width: 100%;
}
#wrapper {
  z-index: 99;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 60px;
  position: absolute;
}
#wrapper.full {
  bottom: 0;
}
#scroller {
  width: 100%;
  min-height: 100%;
}
.swiper-container {
  width: 100%;
}
.swiper-slide img {
  height: 100%;
}
.grid {
  width: 100%;
}
.grid.grid-no-border .line {
  border: 0;
}
.grid.grid-no-border .line:first-child {
  border: 0;
}
.grid.grid-no-border .line .item2,
.grid.grid-no-border .line .item3,
.grid.grid-no-border .line .item4,
.grid.grid-no-border .line .item5 {
  border: 0;
}
.grid .line {
  border-bottom: 1px solid #9b9b9b;
  clear: both;
}
.grid .line:first-child {
  border-top: 1px solid #9b9b9b;
}
.grid .line:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.grid .line .item5 {
  width: 20%;
  float: left;
  min-height: 1px;
}
.grid .line .item4 {
  width: 25%;
  float: left;
  min-height: 1px;
}
.grid .line .item3 {
  width: 33.33333333%;
  float: left;
  min-height: 1px;
}
.grid .line .item2 {
  width: 50%;
  float: left;
  min-height: 1px;
}
.grid .line .item2,
.grid .line .item3,
.grid .line .item4,
.grid .line .item5 {
  text-align: center;
  border-right: 1px solid #9b9b9b;
  box-sizing: border-box;
}
.grid .line .item2:last-child,
.grid .line .item3:last-child,
.grid .line .item4:last-child,
.grid .line .item5:last-child {
  border-right: 0;
}
.pull-down-text,
.pull-up-text {
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  color: #b9b9b9;
  padding-bottom: 15px;
}
.pull-down,
.pull-up {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
}
.pull-down > div,
.pull-up > div {
  background-color: #67cf22;
  height: 100%;
  width: 3px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.pull-down .rect2,
.pull-up .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.pull-down .rect3,
.pull-up .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.pull-down .rect4,
.pull-up .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.pull-down .rect5,
.pull-up .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.me-head-img-banner {
  background-color: #9b9b9b;
  padding: 30px 0;
}
.me-head-img-banner > .head-img {
  margin: 0 auto;
  width: 70px;
}
.me-head-img-banner > .head-img > img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: 0 auto;
}
.list-item {
  padding: 15px;
  clear: both;
}
.list-item:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.camera {
  float: left;
  margin: 5px;
  border-width: 1px;
  border-color: #333333;
  border-style: solid;
  width: 80px;
  height: 80px;
}
.item-img {
  float: left;
  margin: 5px;
  border-width: 1px;
  border-color: #333333;
  border-style: solid;
  width: 80px;
  height: 80px;
}
.item-img > img {
  width: 80px;
  height: 80px;
}
.itemType {
  clear: both;
}
.itemType:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.itemType > .label {
  width: 33.33333333%;
  float: left;
  min-height: 1px;
}
.itemType > .selecter {
  width: 66.66666667%;
  float: left;
  min-height: 1px;
}
.itemType > .selecter > select {
  width: 100%;
  text-align: right;
  direction: rtl;
  padding-right: 20px;
}
.item-list {
  clear: both;
}
.item-list:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.item-list > .item {
  width: 50%;
  float: left;
  min-height: 1px;
}
.item-list > .item > a > .item-body {
  padding: 10px;
}
.item-list > .item > a > .item-body > .item-pic {
  width: 100%;
}
.item-list > .item > a > .item-body > .item-pic > img {
  width: 100%;
}
.item-nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}
